# Backend Go
server/*.exe
server/*.exe~
server/*.dll
server/*.so
server/*.dylib
server/*.test
server/*.out

# Frontend Node
client/node_modules/
client/dist/
client/.env.local
client/.env.*.local

# Ambiente local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
